/* Dark Mode */
.dark-mode {
    background-color: var(--primary-dark);
    color: #fff;
}

.mode input {
    display: none;
}

.dark-mode .social a {
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
}

.dark-mode .social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
}

.dark-mode .logo a {
    color: #fff;
}

.dark-mode .images::before {
    background: linear-gradient(145deg, #1f252e, #2e3239);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
}

.dark-mode header {
    box-shadow: 0 4px 17px rgba(80, 80, 80, .31);
    background: var(--primary-dark);
}
